* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.status-title {
    color: white;
    font-weight: 700;
    font-size: 15px;
    margin-top: 20px;
}

.po-title {
    color: white;
    font-weight: 700;
    font-size: 15px;
}
